{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <h2>Testing Pages:</h2>
  <ul>
    <li>
        <a href="/ckeditor">CKEditor</a> - Kitchen sink version of CKEditor
    </li>
  </ul>
{% endblock %}
